body {
    margin-left: 20px;
}

body {
    text-align: center;
}

.btn {  
    /* se comporta não só como um elemento de linha, um link ou texto. Irá se comportar como um elemento de linha
     * mas também como um bloco, como um div por exemplo. 

    /* o display inline significa que é um elemento que está em uma linha, ele segue a linha do texto. */
    display: inline-block; 
    text-decoration: none;  
    background-color: blue;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 10px;
    cursor: pointer;
} 

.btn:hover {
    background-color: rgb(75, 75, 199);
    transition: all .5s ease;
}

